{% extends "base.html" %} {% block title %}Resume Ranking System{% endblock %}
{% block Addnav %}
<li class="nav-item active">
  <a class="nav-link" href="/HR">HR Team</a>
</li>
{% endblock %} {% block styleInclude %}
<style>
  @media screen and (min-width: 992px) {
    a.sign_in {
      width: 60%;
    }
  }
  @media screen and (min-width: 1300px) {
    a.sign_in {
      width: 40%;
    }
  }
  @media screen and (min-width: 300px) {
    .main_card {
      margin-top: 30px;
    }
  }

</style>
{% endblock %} {% block content %}
<div class="container-fluid">

</div>

{% endblock %}
